*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a);

}

#input-box{
    width: 100%;
    border: 3px solid white;
    padding: 10px;
    margin: 5px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input-box::placeholder{
    color: #ffffff;

}

button{
    border: 3px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225,255,255,0.1);
    cursor: pointer;
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px,3px,15px rgba(113,115,119,0.5);
    text-align: center;
    max-width: 400px;
    margin-top: 50px;

}

.operator{
    color: #6dee0a
}

.equalBtn{
    color: #fb7c14;
}

.heading{
    display: flex;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
}

.bottom{
    display: flex;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    
}